@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-content-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/login/loginBackground.jpg');
    background-size: cover;
    background-position: 0px 60%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    .login-content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        height: fit-content;
        padding: 40px 40px;
        max-width: 100%;
        border-radius: 4px;
        height: 100%;
        justify-content: center;

        .login-header {
            .title {
                font-size: 32px;
                font-weight: 600;
                color: #525252;
                line-height: 1.6;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            .form-input {
                display:flex;
                flex-direction: column;
                margin-bottom: 24px;
                label {
                    margin-bottom: 4px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #828282;
                }
                input {
                    padding: 13px 10px;
                    border: 1px solid #DED2D9;
                    border-radius: 4px;
                    outline: 0;
                    ::placeholder {
                        color: #E0E0E0;
                        font-size: 14px;
                    }
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            .form-input-group {
                display: flex;
                justify-content: space-between;
                .form-input {
                    display: flex;
                    flex-direction: row;
                }
                
                &.checkbox {
                    a {
                        color: #7F265B;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }
            
            button {
                background: #7F265B;
                border-radius: 6px;
                padding: 13px 10px;
                width: 100%;
                color: #ffffff;
                font-size: 18px;
                font-weight: 600;
                border: none;
            }
        }
    }
}